<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      
      >


  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="full" 
            fileName         ="./log/log.log"
            ArchiveFileName  ="./log/${cached:${date:format=yyyy-MM-dd}}/log-{#}.TEST.zip"

            layout="${longdate:universalTime=true} ${pad:padding=5:inner=${level:uppercase=true}} [${pad:padding=5:inner=${mdlc:item=IID}}] - ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=10} | ${event-properties:item=EventId_Id} ${ndlc:uppercase=true:separator= => } | [${callsite:fileName=true:methodName=true:cleanNamesOfAsyncContinuations=true:cleanNamesOfAnonymousDelegates=true:includeSourcePath=false}] [${logger:shortName=false}]"
            
            ArchiveNumbering="Date"
            ArchiveEvery="Day"
            
            AutoFlush="true"
            ArchiveDateFormat="yyyy-MM-dd_HH_mm_ss"
            ArchiveOldFileOnStartup= "true"
            
            EnableArchiveFileCompression = "true"
            
            ConcurrentWrites="true"
            KeepFileOpen="false"
            />

    <target xsi:type="ColoredConsole" 
            name="console" 
            layout="${longdate:universalTime=true} ${pad:padding=5:inner=${level:uppercase=true}} [${pad:padding=5:inner=${mdlc:item=IID}}] - ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=10} | ${event-properties:item=EventId_Id} ${ndlc:uppercase=true:separator= => } | [${callsite:fileName=true:methodName=true:cleanNamesOfAsyncContinuations=true:cleanNamesOfAnonymousDelegates=true:includeSourcePath=false}] [${logger:shortName=false}]"
           
    />

  
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    
    <logger name="*" minlevel="Trace" writeTo="full" />
    

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" final="true" />  <!-- BlackHole -->
    
   
    <logger name="*" minlevel="Trace" writeTo="console" />

   
  </rules>
</nlog>